### 1. Set up the project template

Create a new project and install project dependencies.

Configure credentials and any other sensitive/personal content, and logging

In [ ]:
#kedro new
#cd <path>
#pip install -r src/requirements.txt
#kedro run
#kedro viz
#logging: https://docs.kedro.org/en/stable/logging/logging.html, https://rich.readthedocs.io/en/stable/markup.html

In [ ]:
import logging

log = logging.getLogger(__name__)
log.warning("Issue warning")
log.info("Send information")
log.error("[bold red blink]Important error message![/]", extra={"markup": True})

### 2. Set up the data

Add data to the data folder

Reference all datasets for the project

In [1]:
companies = catalog.load("companies")
companies.head()

[04/17/23 11:59:32] INFO     Loading data from 'companies' (CSVDataSet)...                      ]8;id=771298;file:///Users/Elena_Sidorova/opt/anaconda3/lib/python3.9/site-packages/kedro/io/data_catalog.py\data_catalog.py]8;;\:]8;id=887951;file:///Users/Elena_Sidorova/opt/anaconda3/lib/python3.9/site-packages/kedro/io/data_catalog.py#343\343]8;;\

,id,company_rating,company_location,total_fleet_count,iata_approved
0,35029,100%,Niue,4.0,f
1,30292,67%,Anguilla,6.0,f
2,19032,67%,Russian Federation,4.0,f
3,8238,91%,Barbados,15.0,t
4,30342,NaN,Sao Tome and Principe,2.0,t

In [2]:
shuttles = catalog.load("shuttles")
shuttles.head()

[04/17/23 11:59:43] INFO     Loading data from 'shuttles' (ExcelDataSet)...                     ]8;id=433994;file:///Users/Elena_Sidorova/opt/anaconda3/lib/python3.9/site-packages/kedro/io/data_catalog.py\data_catalog.py]8;;\:]8;id=503155;file:///Users/Elena_Sidorova/opt/anaconda3/lib/python3.9/site-packages/kedro/io/data_catalog.py#343\343]8;;\

,id,shuttle_location,shuttle_type,engine_type,engine_vendor,engines,passenger_capacity,cancellation_policy,crew,d_check_complete,moon_clearance_complete,price,company_id
0,63561,Niue,Type V5,Quantum,ThetaBase Services,1.0,2,strict,1.0,f,f,"$1,325.0",35029
1,36260,Anguilla,Type V5,Quantum,ThetaBase Services,1.0,2,strict,1.0,t,f,"$1,780.0",30292
2,57015,Russian Federation,Type V5,Quantum,ThetaBase Services,1.0,2,moderate,0.0,f,f,"$1,715.0",19032
3,14035,Barbados,Type V5,Plasma,ThetaBase Services,3.0,6,strict,3.0,f,f,"$4,770.0",8238
4,10036,Sao Tome and Principe,Type V2,Plasma,ThetaBase Services,2.0,4,strict,2.0,f,f,"$2,820.0",30342

### 3. Create the pipeline

Construct nodes to make up the pipeline

Choose how to run the pipeline: sequentially or in parallel

### 4. Package the project

Build the project documentation

Package the project for distribution